@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Aclonica';
		src: local('Aclonica'), url('$lib/fonts/aclonica-v18-latin-regular.woff') format('woff'),
			url('$lib/fonts/aclonica-v18-latin-regular.woff2') format('woff');
	}
	/* lexend-light */
	@font-face {
		font-family: 'Lexend';
		font-style: normal;
		font-weight: 300;
		src: local(''), url('$lib/fonts/lexend-v15-latin-300.woff2') format('woff2'),
			url('../fonts/lexend-v15-latin-300.woff') format('woff');
	}

	/* lexend-extralight */
	@font-face {
		font-family: 'Lexend';
		font-style: normal;
		font-weight: 200;
		src: local(''), url('$lib/fonts/lexend-v15-latin-200.woff2') format('woff2'),
			url('../fonts/lexend-v15-latin-200.woff') format('woff');
	}

	/* lexend-regular - latin */
	@font-face {
		font-family: 'Lexend';
		font-style: normal;
		font-weight: 400;
		src: local(''), url('$lib/fonts/lexend-v15-latin-regular.woff2') format('woff2'),
			url('../fonts/lexend-v15-latin-regular.woff') format('woff');
	}

	@font-face {
		font-family: 'Lexend';
		font-style: normal;
		font-weight: 600;
		src: local(''), url('$lib/fonts/lexend-v15-latin-600.woff2') format('woff2'),
			url('../fonts/lexend-v15-latin-600.woff') format('woff');
	}

	@font-face {
		font-family: 'Lexend';
		font-style: normal;
		font-weight: 700;
		src: local(''), url('$lib/fonts/lexend-v15-latin-700.woff2') format('woff2'),
			url('../fonts/lexend-v15-latin-700.woff') format('woff');
	}

	@font-face {
		font-family: 'Lexend';
		font-style: normal;
		font-weight: 800;
		src: local(''), url('$lib/fonts/lexend-v15-latin-800.woff2') format('woff2'),
			url('../fonts/lexend-v15-latin-800.woff') format('woff');
	}

	@font-face {
		font-family: 'Caveat';
		font-style: normal;
		font-weight: 400;
		src: local(''), url('$lib/fonts/caveat-v15-latin-regular.woff2') format('woff2');
	}
	@font-face {
		font-family: 'Caveat';
		font-style: normal;
		font-weight: 500;
		src: local(''), url('$lib/fonts/caveat-v15-latin-500.woff2') format('woff2');
	}
	@font-face {
		font-family: 'Caveat';
		font-style: normal;
		font-weight: 600;
		src: local(''), url('$lib/fonts/caveat-v15-latin-600.woff2') format('woff2');
	}
}
